* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'GMarketSans';
  color: #34343c;
}

body {
  overflow: hidden;
}



/*  */
/* header */
/*  */
header {
  width: 50px;
  height: 113px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  right: 2.2%;
  bottom: 7%;
}

.home2 {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.757);
  border: 1px solid rgb(65, 65, 65);
}

.home2 a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home2 img {
  width: 55%;
}


.btn {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(65, 65, 65, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn a {
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  font-weight: 700;
  padding: 11px 2px;
}




/* 배경 */
.hero {
  width: 100vw;
  height: 100vh;
  background: #8991a3;
  /* 테스트용 파랑 */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/bg_insta.jpg);
}

/* 인스타 + 갤러리 */
.box1 {
  width: 470px;
  height: auto;
  /* background: red; */
  display: flex;
  flex-direction: column;
}

/* insta-top img */
.image-a {
  height: 281px;
  background: rgba(0, 128, 0, 0);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 갤러리박스 */
.gallery {
  /* background: orange; */
  /* padding: 10px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.gallery img {
  width: 100%;
  width: 100%;
  aspect-ratio: 1 / 1;
  /*  정사각형 */
  object-fit: cover;
  cursor: pointer;
}

/* ===== 모달 ===== */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.927);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal.active {
  display: flex;
}

.modal-content {
  position: relative;
}

/* 🔥 슬라이드 크기 */
.slider {
  width: 500px;
  height: 500px;
  background: #000;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* 버튼 */
.prev,
.next,
.close {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: #bbbbbb;
  border: none;
  font-size: 20px;
  /* padding: 15px 20px; */
  cursor: pointer;
}

.prev {
  left: -62px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffffff00;
  font-size: 40px;
  padding: 10px 20px;

}


.next {
  right: -62px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffffff00;
  font-size: 40px;
  padding: 10px 20px;
}

.close {
  width: 44px;
  height: 44px;
  top: -56px;
  right: 0;
  border-radius: 50px;
  border: 1px solid rgba(73, 73, 73, 0.723);
  background-color: #ffffff9f;
  font-weight: 700;
  color: #4e4e4e;
}

/* 페이지네이션 */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination span {
  width: 8px;
  height: 8px;
  background: #cdcdcd;
  border-radius: 50%;
  margin: 0 4px;
}

.pagination .active {
  background: #262626;
}





/*  */
/* 모바일 */
/*  */

@media (max-width: 767px) {

  body {
    width: 100%;
  }

  /* header */
  header {
    width: 30px !important;
    height: 66px;
    right: 2.8%;
    bottom: 5%;
  }

  .home2 {
    width: 30px;
    height: 30px;
  }

  .btn {
    width: 30px;
    height: 30px;
  }

  .btn a {
    text-align: center;
    text-decoration: none;
    font-size: 6px;
    font-weight: 700;
    padding: 11px 2px;
  }

  .hero {
  background-image: url(../img/bg_insta2.jpg);
}

  .box1 {
    width: 80%;
    height: auto;
  }

  .image-a {
    height: auto;
  }

  .image-a img {
    width: 100%;
  }

  .modal {
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.66);
    z-index: 9999;
  }

  .modal.active {
    display: flex;
  }

  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .slider {
    width: 100vw;
    height: auto;
    max-height: 80vh;
  }

  .slider img {
    width: 100%;
    height: auto;
    max-height: 80vh;
    object-fit: contain;
  }

  .prev,
  .next,
  .close {
    display: none;
  }

  .slider,
  .swiper,
  .swiper-wrapper,
  .swiper-slide {
    background-color: #ffffff00;
  }


}