 @font-face {
     font-family: 'GMarketSans';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
     font-weight: 300;
     font-display: swap;
 }

 @font-face {
     font-family: 'GMarketSans';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
     font-weight: 500;
     font-display: swap;
 }

 @font-face {
     font-family: 'GMarketSans';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
     font-weight: 700;
     font-display: swap;
 }


 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'GMarketSans';
     color: #34343c;
 }

 body {
     width: 100%;
     height: auto;
 }

 /*  */
 /* header */
 /*  */
 header {
     width: 50px;
     height: 113px;
     position: fixed;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     right: 2.2%;
     bottom: 7%;
 }

 /* .home {
     width: 100%;
     height: 110px;
     position: fixed;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .home img {
     width: 130px;
 } */

 .home2 {
     width: 48px;
     height: 48px;
     border-radius: 50px;
     background-color: rgba(255, 255, 255, 0.757);
     border: 1px solid rgb(65, 65, 65);
 }

 .home2 a {
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .home2 img {
     width: 55%;
 }


 .btn {
     width: 48px;
     height: 48px;
     border-radius: 50px;
     background-color: rgba(255, 255, 255, 0.757);
     border: 1px solid rgb(65, 65, 65);
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .btn a {
     text-align: center;
     text-decoration: none;
     font-size: 10px;
     font-weight: 700;
     padding: 11px 2px;
 }



 /*  */
 /* section01 */
 /*  */
 .section01 {
     width: 100%;
     height: 100vh;
     background: url("../img/sodam01_cover.jpg") center center / cover no-repeat;
 }

 .section01 img {
     max-width: 100%;
     object-fit: contain;
 }


 .section02 {
     width: 100%;
     height: auto;

 }

 .section02 img {
     width: 100%;
     margin-top: 7px;
 }

 /*  */
 /* 모바일 */
 /*  */

 @media (max-width: 767px) {
     .section01 {
         height: 100%;
         /* 중요 */
         aspect-ratio: 15 / 9;
         /* 또는 이미지 비율 */
         background-position: center;
     }


     /* header */     
     header {
         width: 30px;
         height: 66px;
         right: 2.2%;
         bottom: 5%;
     }

     .home2 {
         width: 30px;
         height: 30px;
     }

     .btn {
         width: 30px;
         height: 30px;
     }

     .btn a {
         text-align: center;
         text-decoration: none;
         font-size: 6px;
         font-weight: 700;
         padding: 11px 2px;
     }


 }