* {
    margin: 0;
    padding: 0;
}


html {
    width: 100%;
    font-family: "Cormorant", "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
}

body {
    max-width: 100%;
    height: auto;
    /* background-color: antiquewhite;
    border: 3px solid red; */
    margin: 0 auto;
    color: #5B5B5B;
}

/*  */
/* header */
/*  */
header {
    width: 100%;

}

.logo_container {
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
    height: 95px;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 검색창 */
.search {
    width: 200px;
    height: 35px;
    border: 1px solid #DADADA;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input {
    width: 140px;
    height: 25px;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 50px;
    border: none;
}

.search button {
    width: 30px;
    height: 25px;
    background: none;
    border: none;
}

.search button img {
    width: 25px;
    height: 25px;
    margin-top: -1px;
    margin-left: 5px;
}


/* 헤더 로고 */
.logo_img>a>img {
    width: 130px;
    cursor: pointer;
}

/* 헤더 우측 아이콘 */
.header_icon {
    display: flex;
    gap: 40px;
}

.header_icon_1 {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.header_icon_1 img {
    width: 24px;
    height: 24px;
}



/* 주메뉴 */
.header_nav {
    margin: 0 auto;
    width: 60%;
    height: 45px;
    /* border: 2px solid brown; */
    position: relative;
    z-index: 10;

}

.header_nav>ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.header_nav>ul>li {
    list-style: none;
    text-align: center;
}

.header_nav>ul>li:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    /* 글자와 밑줄 사이 간격 */
}

.header_nav>ul>li>a {
    text-decoration: none;
    color: #5B5B5B;
    font-size: 16px;
    font-weight: 600;
}

/*  */
/* 서서브메뉴 */
.submenu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    /* nav와 동일한 폭 */
    background: #ffffff;

    /* 슬라이드다운 되기 위해 */
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    /* 절대삭제XX */
    transition: all 0.4s ease;
}

.header_nav>ul>li:hover .submenu {
    max-height: 400px;
    opacity: 1;
}

/* 컬렉션 between */
.menu3_between {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* gap: 430px; */
    /* border: 1px solid red; */
}

.menu3_flex {
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    gap: 60px;
}

.menu3 {
    width: 180px;
    height: 330px;
    /* border: 1px solid greenyellow; */
    margin-top: 50px;
    font-weight: 700;
    font-size: 17px;

}

.menu3>ul {
    margin-top: 23px;
}

.menu3>ul>li {
    list-style: none;
    margin: 15px 0;
    font-weight: 500;

    font-size: 17px;
}

.menu3>ul>li>a {
    text-decoration: none;
    color: inherit;
}

.img00 {
    width: 270px;
    height: 270px;
    margin-top: 45px;
    overflow: hidden;
}

.img01 img {
    width: 305px;
    margin: -20px;
}

.img02 img {
    width: 600px;
}

.img03 img {
    width: 270px;
}


/*  */
/* container */
/*  */
.container {
    margin-bottom: 60px;
}

.breadcrumb {
    max-width: 1320px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
    height: 59px;
    font-family: "Noto Sans KR";
    display: flex;
    justify-content: start;
    align-items: center;
    /* border: 1px solid red; */
}

.breadcrumb>p {
    font-size: 14px;
    font-weight: 400;
    color: #8c8c8c;
}


/*  */
/* section01 */
/*  */
.section01 {
    max-width: 1320px;
    width: 100%;
    height: 970px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 37px;

}

.sec1_img {
    max-width: 1320px;
    width: 100%;
    height: 570px;
    margin: 0 auto;
    overflow: hidden;
}

.section01>h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
}


.sec1_text {
    max-width: 560px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sec1_text>h3 {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    font-family: "Noto Sans KR";
    word-break: keep-all;
    /* 어절줄바꿈 */
}

/*  */
/* section02 */
/*  */

.section02 {
          width: 100%;
        height: auto;
        border: 1px solid red;

}


/* section2 탭버튼 */
.tab-buttons {
    max-width: 100%;
    height: 72px;
    margin: 0 auto;
    display: flex;
    gap: 150px;
    justify-content: center;
    background-color: #ffffff;
    border-bottom: 1px solid #dbdbdb;
    position: sticky;
    top: 0;
    z-index: 9;
}

.tab-buttons button {
    cursor: pointer;
    border: none;
    transition: 0.3s;
    background-color: transparent;
    font-family: "Cormorant";
    font-size: 22px;
    color: inherit;
    font-weight: 600;
    margin-top: -3px;
}


.tab-buttons button:hover {
    transform: translateY(-4px);
}

.tab-buttons button.active {
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-color: rgb(73, 73, 73);
}

.tab-content>div {
    display: none;
    /* 기본은 숨김 */
    padding: 20px;
    background-color: #ffffff;
}

.tab-content>div.active {
    display: block;
    /* 선택된 탭만 보여짐 */
}


/* section2 스크롤애니메이션 */
section {
    max-width: 1300px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    /* 한 화면 가득 */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background: #ffffff;
}

/* section:nth-child(1) {
background: #e2e2e2;
}

section:nth-child(2) {
    background: #e2e2e2;
} */


/* section 내 이미지 */
.about_img {
    width: 43%;
    height: 80%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.about_img img {
    width: 100%;
}

.img_about3_3 {
    width: 44% ;
}

/* section 내 텍스트 내용 */
.fade-text {
    width: 50%;
    height: 80%;
    word-break: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fade-text>h2 {
    text-align: center;
    font-size: 33px;
}

.fade-text>h3 {
    text-align: center;
    font-size: 15px;
    font-family: "Noto Sans KR";
    font-weight: 400;
    margin-top: 15px;
}

.fadetext_flex_wrap {
    font-family: "Noto Sans KR";
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 70px;
}

.fadetext_flex {
    width: 100%;
}

.fadetext_flex>h4 {
    font-size: 17px;
    font-weight: 500;
}

.fadetext_flex>h5 {
    font-size: 15px;
    font-weight: 400;
    margin-top: 15px;
}


/* 초기 상태: 숨김 */
.fade-image,
.fade-text {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

/* 보이는 상태 */
.visible .fade-image {
    opacity: 1;
    transform: translateY(0);
}

.visible .fade-text {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.2s;
    /* 이미지 다음 0.2초 후 등장 */
}





/*  *
/* footer */
/*  */
footer {
    background-color: #f9f9f9;
    font-family: "Noto Sans KR";
    color: #5a5a5a;
}

.foot_wrap {
    max-width: 1320px;
    margin: 0 auto;
    height: 200px;
    padding: 30px 20px;
}


.foot_wrap>ul>li {
    list-style: none;
    font-size: 13px;
    font-weight: 300;
    padding: 3px;
}

.foot_wrap>ul>li:nth-child(5) {
    font-weight: 400;
}

.footer_icon {
    display: flex;
    gap: 12px;
    margin-top: 12px;
    cursor: pointer;
}

.footer_icon>.icon>a>img {
    width: 30px;
    height: 30px;
}

/*  */
/* 플로팅 버튼 */
.floating-buttons {
    position: fixed;
    right: 20px;
    /* 오른쪽 여백 */
    bottom: 8%;
    /* 하단 여백 */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 세로 정렬 */
    gap: 16px;
    /* 버튼 사이 간격 */
    z-index: 1000;
    /* 다른 요소보다 위에 표시 */
}

/* 각 버튼 공통 스타일 */
.floating-buttons>button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.736);
    border: 1px solid #DADADA;
    color: rgb(117, 117, 117);
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.075);
    transition: background 0.3s;
}

.floating-buttons>button>img {
    width: 27px;
    height: 27px;
    margin-top: 2px;
}

.floating-buttons button:hover {
    background-color: #e4e4e4;
}

.floating_banner>a>img {
    width: 90px;
    height: auto;
    transition: all 0.3s ease;
}

.floating_banner>a>img:hover {
    transform: scale(1.09);

}




@media (max-width: 480px) {

    body {
        width: 100%;
        /* box-sizing: border-box; */
        overflow: hidden;
    }

    .logo_container {
        height: 60px;
        padding: 0 13px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        /* border: 1px solid red; */


    }

    .search {
        width: 53px;
        border: none;
        cursor: none;
    }

    .search button {
        display: none;
    }

    .logo_img {
        margin-top: 7px;
    }

    .logo_img>a>img {
        width: 90px;
        cursor: pointer;
    }

    .header_nav {
        display: none;
    }

    .header_icon {
        gap: 15px;
    }

    .header_icon_1 {
        width: 23px;
        height: 23px;
    }

    .header_icon_1 img {
        width: 100%;
        height: 100%;
    }

    .icon_heart {
        display: none;
    }



    /*  */
    /* 반응형 햄버거 버튼 */
    /*  */


    .m_menu {
        display: block;
        position: relative;
    }

    .hamburger2 {
        display: block;
        position: absolute;
        top: 15px;
        left: 15px;
        width: 23px;
        height: 23px;
        cursor: pointer;
        z-index: 1100;
    }

    .hamburger2 img {
        width: 100%;
        height: 100%;
    }

    /* 메뉴 전체 */
    .header_nav2 {
        position: absolute;
        display: block;
        top: 0;
        left: -82%;
        width: 80%;
        height: 100vh;
        background: #fff;
        color: #5B5B5B;
        font-family: "Cormorant";
        border-right: 1px solid #ccc;
        overflow-y: auto;
        transition: left 0.3s ease;
        z-index: 1000;
        padding-top: 60px;
    }

    .header_nav2 a {
        text-decoration: none;
        color: inherit;
    }

    .header_nav2.active {
        left: 0;
    }

    .header_nav2>ul {
        list-style: none;
        padding: 0 20px;
    }

    .header_nav2 ul li {
        border-bottom: 1px solid #eee;
    }

    .header_nav2 ul li:last-child {
        border-bottom: none;
    }


    .header_nav2>ul>li>a {
        display: block;
        padding: 15px 0;
        font-weight: bold;
        cursor: pointer;
    }

    /* 서브메뉴 */
    .submenu2 {
        display: none;
        flex-direction: column;
        padding-left: 12px;
        padding-bottom: 30px;
    }

    .submenu2>ul {
        list-style: none;
        width: 95%;
        padding: 0 10px;
    }


    .submenu2.active {
        display: flex;
    }

    .submenu2 li {
        padding: 8px 0;
        font-weight: normal;
    }

    .submenu2>li>a {
        padding: 0;
        font-weight: normal;
    }

    .menu-title {
        font-size: 18PX;
        font-weight: bold !important;
        padding: 10px 0;
        border: none !important;
        color: #a4aa73;
        cursor: none;
    }

    .menu-title2 {
        padding-top: 25px !important;
    }





    /* container */
    .container {
        padding: 0 13px;
        box-sizing: border-box;
        overflow: hidden;
    }

    .breadcrumb {
        width: 100%;
        height: 35px;
        padding: 0;
    }

    .breadcrumb>p {
        font-size: 12px;
    }


    /*  */
    /* section01 */
    /*  */
    .section01 {
        width: 100%;
        height: auto;
        gap: 20px;
        margin-bottom: 20px;
    }

    .sec1_img {
        width: 100%;
        height: 204px;
    }

    .sec1_img img {
        width: 100%;
        height: 204px;
        object-fit: cover;

    }


    .section01>h1 {
        font-size: 20px;
    }

    .sec1_text>h3 {
        width: 300px;
        font-size: 12px;
        margin-top: -5px;
        margin-bottom: 10px;
    }

    
    /* section02 */
    /*  */
    .section02 {
        width: 100%;
        height: auto;
        border: 1px solid red;
    }

    /* section2 탭버튼 */
    .section02 .tab-buttons {
        max-width: 100%;
        height: 52px;
        gap: 30px;
    }

    .tab-buttons button {
        width: 80px;
        font-size: 13px;
    }


    /* section2 스크롤애니메이션 */
    section {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .about01_1,
    .about01_2,
    .about01_1 {
        padding: 0 2px !important;
        border: 1px solid orange;
    }

    /* section 내 이미지 */
    .about_img {
        width: 100%;
        max-height: 400px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
        border: 1px solid black;
    }

    /* 수정하기 사진 작게보임 */

    .about_img>img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .img_web>img {
        display: none;
    }

    .about_img:nth-of-type(2),
    .about_img:nth-of-type(2) img,
    .about_img:nth-of-type(4),
    .about_img:nth-of-type(4) img{
    display: none;
}


/* section 내 텍스트 내용 */
.fade-text {
    width: 100%;
    height: 80%;
    word-break: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.fade-text>h2 {
    font-size: 20px;
    margin-top: 15px;
}

.fade-text>h3 {
    width: 300px;
    font-size: 11px;
    margin-top: 12px;
}

.fadetext_flex>h4 {
    font-size: 14px;
    font-weight: 500;
}

.fadetext_flex>h5 {
    font-size: 13px;
    font-weight: 400;
    margin-top: 15px;
}




/*  */
/* footer */
/*  */

.foot_wrap {
    padding: 30px 13px;
}

.foot_wrap>ul>li {
    font-size: 11px;
}

.floating-buttons {
    display: none;
}

/* .floating-buttons {

    right: 10px;
    bottom: 30px;
    gap: 10px;
}
.floating_banner {
    display: none;
}

.footer_icon>.icon>a>img {
    width: 18px;
    height: 18px;
} */

}